// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#welcome-container {
  margin-top: 100px;
  .segment {
    text-align: center;
  }
}

.ui.icon.button {
  .icon {
    margin: 0;
  }
}
